[submodule "packages/spacedatastandards.org"]
	path = packages/spacedatastandards.org
	url = git@github.com:DigitalArsenal/spacedatastandards.org.git
[submodule "packages/SpaceDataParsers"]
	path = packages/SpaceDataParsers
	url = git@github.com:DigitalArsenal/SpaceDataParsers.git
[submodule "./packages/spacedatastandards.org/"]
	url = https://github.com/DigitalArsenal/spacedatastandards.org.git
[submodule "./packages/SpaceDataParsers"]
	url = https://github.com/DigitalArsenal/SpaceDataParsers.git
[submodule "packages/keyconvert"]
	path = packages/keyconvert
	url = git@github.com:DigitalArsenal/keyconvert.git
